.calendario, .MuiDateCalendar-root , .css-1thy9fz-MuiButtonBase-root-MuiPickersDay-root, .MuiPickersDay-dayWithMargin, 	.MuiDateCalendar-viewTransitionContainer{
    border-width: 2rem;
    border-color: #FF5200;
    
    color: #FF5200;
}
.MuiStepLabel-labelContainer, button:hover , .siguiente:hover {
    color: #FF5200;
} 
/* .calendar{
    width: 800px;
    height: 700px;
} */
.MuiStepLabel-root, .MuiStepper-root{
    color: #FF5200;
}

.MuiMenuItem-root{
    color: black;
}