


.MuiGrid-root {
    /* margin-top: 100px; */
    width: 100%;
    
}


.css-1thy9fz-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    border: transparent;
}
.MuiMenuItem-root{
    color: black;
}

@media (max-width: 476px) {
    .MuiGrid-root {

        width: 100%;
    
    }
  }
  @media (max-width: 476px) {
    .calendar {
        display: flex;
      flex-direction: column;
      justify-content: center;
      columns: 1;
    }
  }